$font-family-sans-serif: "Montserrat",sans-serif;
$body-color: #ffffff;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
// Override navbar link colors
.navbar {
    .nav-link:hover {
      color: #903aff; // Change the link color to red
    }
  }